html {
	font-family: Futura;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
	color: #333;
	background-color: #f6f6f6;
}

.container {
	width: 85vw;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 4em;
	margin-top: 10vh;
}

p {
	width:;
	font-size: 1.5em;
	margin: 10px 0;
	line-height: 1.5;
}

a {
	font-size: 1.75em;
	color: #3DC4A7;
	text-decoration: none;
	transition: all .25s ease;
	padding-bottom: 10vh;
}

a:hover {
	color: #F4DB2F;
}